extends layout

block content
    h1= title
    hr

    if (toShow == null)
        h2 No instance to delete
    else
        - let waffleid = toShow._id
        - let wafflesize = toShow.size
        - let wafflecolor = toShow.color
        - let wafflecooking_state = toShow.cooking_state
        - let waffletoppings = toShow.toppings
        - let actionid = "/resource/waffles/" + waffleid
        script let actionid = "#{actionid}"
        div(class="deatils-view")
            div(class="row mb-4")
                div(class='waffleAttr mr-3') Waffle ID is:
                div #{waffleid}
            div(class="row mb-4")
                div(class='waffleAttr mr-3') Waffle Size is:
                div #{wafflesize}
            div(class="row mb-4")
                div(class='waffleAttr mr-3') Waffle Color is:
                div #{wafflecolor}
            div(class="row mb-4")
                div(class='waffleAttr mr-3') Waffle Cooking State is:
                div #{wafflecooking_state}
            div(class="row mb-4")
                div(class='waffleAttr mr-3') Waffle Toppings are:
                div #{waffletoppings}
        
        hr
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    
    script.
        function cancel() {
            // Go back to the home page for the waffle collection
            window.location.href='/waffle'
        }
    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, {
                method: 'DELETE' // Don't need a body for the delete
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeded")
                window.location.href='/waffle'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }