extends layout

block content
  h1= title
  hr

  -
    let items = results;

  br
  br
  div(class="container-fluid")
    div(class="row")
      - let counter = 0;
      each obj in items
        - counter++;
        - let destination = `dispatch(\"/waffles/update?id=${obj.id}\")`
        div(class="col-md-4") Waffle #{counter} <hr width="60%" float="left">
          span #{obj}
          <hr width="60%" float="left">
          button(class="btn btn-primary ml-1" onclick= destination) Update
          button(class="btn btn-primary" onclick="buy("+counter+")") Buy
 
  br
  a(class="btn btn-success" href="/") Return to Home Page

  script. 
    function buy(itemNumber) {
      alert("You have purchased Waffle " + itemNumber)
    }

    function dispatch(path) {
      window.location.href=path;
    }
