extends layout

block content
    h1= title
    - let waffleid = toShow._id
    - let wafflesize = toShow.size
    - let wafflecolor = toShow.color
    - let wafflecooking_state = toShow.cooking_state
    - let waffletoppings = toShow.toppings

    - let destReturn = `dispatch(\"/waffle\")`
    br
    button(class="btn btn-success ml-1" onclick= destReturn) Return to Waffle List

    hr
    div(class="deatils-view")
        div(class="row mb-4")
            div(class='waffleAttr mr-3') Waffle ID is:
            div #{waffleid}
        div(class="row mb-4")
            div(class='waffleAttr mr-3') Waffle Size is:
            div #{wafflesize}
        div(class="row mb-4")
            div(class='waffleAttr mr-3') Waffle Color is:
            div #{wafflecolor}
        div(class="row mb-4")
            div(class='waffleAttr mr-3') Waffle Cooking State is:
            div #{wafflecooking_state}
        div(class="row mb-4")
            div(class='waffleAttr mr-3') Waffle Toppings are:
            div #{waffletoppings}
        hr
        - let destUpdate = `dispatch(\"/waffles/update?id=${waffleid}\")`
        - let destDelete = `dispatch(\"/waffles/delete?id=${waffleid}\")`
        div(class="spread-buttons")
            button(class="btn btn-primary ml-1" onclick= destUpdate) Update
            button(class="btn btn-danger ml-1" onclick= destDelete) Delete
    
    script. 
        function dispatch(path) {
        window.location.href=path;
        }
